<%if (errorMessage) {%>
<div class="user-message user-message--error">
  <% if (Array.isArray(errorMessage) && errorMessage.length > 1) { %> 
    <% errorMessage.forEach((message) => {%>
      <p><%= message %></p>
    <% }) %> 
  <% } else { %>
    <p><%= errorMessage %></p>
  <%}%>
</div>
<% }%>
