<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css" />
<%- include('../includes/navigation.ejs') %>

<main>
  <h1>Thank you for your purchase!</h1>
  <a href="/product-list">Back to Products</a>
</main>
<%- include('../includes/end.ejs') %>